<table class="table table-bordered bg-light">
  <thead class="text-white bg-info">
    <tr>
      <th scope="col">Brand</th>
      <th scope="col">Product Name</th>
      <th id="price" scope="col">Price</th>
      <th scope="col">Pints Remaining</th>
      <th *ngIf="currentRoute === '/admin'" scope="col">Refill Keg</th>
      <th *ngIf="currentRoute === '/admin'" scope="col">Sell Pint(s)</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let keg of kegs | async">
      <tr>
        <td>{{keg.brand}}</td>
        <td>{{keg.name}}</td>
        <td>${{keg.price}}</td>
        <td>
          <div class="progress">
            <div [style.width]="pintsLeft(keg)" [class]="pintsLeftProgressBar(keg)" role="progressbar" [attr.aria-valuenow]="pintsLeft(keg)" aria-valuemin="0" aria-valuemax="100">{{keg.pints}}</div>
          </div>
        </td>
        <td *ngIf="currentRoute === '/admin'"><button class="btn btn-success btn-block" (click)="sellPint()">+{{124 - keg.pints}} Pints</button></td>
        <td *ngIf="currentRoute === '/admin'"><button class="btn btn-success btn-block" (click)="sellPint()">-1 Pint</button></td>
      </tr>
      <tr app-edit-keg *ngIf="currentRoute === '/admin'"[selectedKeg]="keg"></tr>
    </ng-container>
    <tr *ngIf="currentRoute === '/admin'">
      <td><input class="form-control form-control-sm" #newBrand></td>
      <td><input class="form-control form-control-sm" #newName></td>
      <td><input class="form-control form-control-sm" #newPrice></td>
      <td>
        <div class="progress">
          <div class="progress-bar bg-success w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">124</div>
        </div>
      </td>
      <td colspan="2"><button class="btn btn-success btn-block" (click)="submitForm(newBrand.value, newName.value, newPrice.value); newBrand.value=''; newName.value=''; newPrice.value=''">Add to Taproom!</button></td>
    </tr>
  </tbody>
</table>
