<table class="table table-bordered bg-light">
  <thead class="text-white bg-info">
    <tr>
      <th scope="col">Brand</th>
      <th scope="col">Product Name</th>
      <th id="price" scope="col">Price</th>
      <th scope="col">Pints Remaining</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let keg of kegs | async">
      <tr (click)="editKeg(keg)">
        <td>{{keg.brand}}</td>
        <td>{{keg.name}}</td>
        <td>${{keg.price}}</td>
        <td>
          <div class="progress">
            <div [style.width]="pintsLeft(keg)" [class]="pintsLeftProgressBar(keg)" role="progressbar" [attr.aria-valuenow]="pintsLeft(keg)" aria-valuemin="0" aria-valuemax="100">{{keg.pints}}</div>
          </div>
        </td>
      </tr>
      <tr app-edit-keg *ngIf="currentRoute === '/admin' && keg === clickedKeg" [clickedKeg]="keg"></tr>
    </ng-container>
    <tr *ngIf="currentRoute === '/admin'">
      <td><input class="form-control form-control" #newBrand placeholder="Brand Name"></td>
      <td><input class="form-control form-control" #newName placeholder="Product Name"></td>
      <td><input class="form-control form-control" #newPrice placeholder="$ Per Pint"></td>
      <td colspan="3"><button class="btn btn-success btn-block" (click)="submitForm(newBrand.value, newName.value, newPrice.value); newBrand.value=''; newName.value=''; newPrice.value=''">Add to Taproom!</button></td>
    </tr>
  </tbody>
</table>
