<table class="table table-bordered text-white bg-info">
  <thead>
    <tr>
      <th scope="col">Brand</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Pints Remaining</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let keg of kegs | async">
      <td>{{keg.brand}}</td>
      <td>{{keg.name}}</td>
      <td>${{keg.price}}</td>
      <td>
        <div class="progress">
          <div [style.width]="pintsLeft(keg)" [class]="pintsLeftProgressBar(keg)" role="progressbar" [attr.aria-valuenow]="pintsLeft(keg)" aria-valuemin="0" aria-valuemax="100">{{keg.pints}}</div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
