<div class="row justify-content-center">
  <!-- <div class="card card-body">
    <h3>New Kombucha Keg</h3>

    <div class="row mb-2 form-group">
      <div class="col-2">
        <label>Brand:</label>
      </div>
      <div class="col-10">
        <input class="form-control form-control-sm" #newBrand>
      </div>
    </div>

    <div class="row mb-2 form-group">
      <div class="col-2">
        <label>Name:</label>
      </div>
      <div class="col-10">
        <input class="form-control form-control-sm" #newName>
      </div>
    </div>

    <div class="row mb-3 form-group">
      <div class="col-2">
        <label>Price:</label>
      </div>
      <div class="col-10">
        <input class="form-control form-control-sm" #newPrice>
      </div>
    </div>

    <button class="btn btn-success btn-block" (click)="submitForm(newBrand.value, newName.value, newPrice.value); newBrand.value=''; newName.value=''; newPrice.value=''">Add to Taproom!</button>
  </div> -->
  <div class="col">
    <app-menu></app-menu>
  </div>
  
</div>
