<td><input class="form-control" [(ngModel)]="clickedKeg.brand"></td>
<td><input class="form-control" [(ngModel)]="clickedKeg.name"></td>
<td><input class="form-control" [(ngModel)]="clickedKeg.price"></td>
<td>
  <table style="width:100%;">
    <tr>
      <td id="refill" class="inner-td"><button class="btn btn-secondary btn-block" (click)="refillKeg(clickedKeg)">Refill Keg</button></td>
      <td class="inner-td"><button class="btn btn-danger btn-block" (click)="sellPint(clickedKeg)">-1 Pint</button></td>
      <td id="update" class="inner-td"><button class="btn btn-primary btn-block" (click)="updateKeg(clickedKeg)">Update</button></td>
    </tr>
  </table>
</td>
